<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853444244461-8jlqbv5s7k58mcuotij1v0r1nic0l8ha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853444244461-8jlqbv5s7k58mcuotij1v0r1nic0l8ha</string>
	<key>API_KEY</key>
	<string>AIzaSyC62s55_BcC7JvLHL8xtzNT_d-rm_rsTW4</string>
	<key>GCM_SENDER_ID</key>
	<string>853444244461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>inbastards.memeGrave</string>
	<key>PROJECT_ID</key>
	<string>memegrave-by-mannerism</string>
	<key>STORAGE_BUCKET</key>
	<string>memegrave-by-mannerism.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853444244461:ios:a73ed92d154d1836b0ede4</string>
	<key>DATABASE_URL</key>
	<string>https://memegrave-by-mannerism.firebaseio.com</string>
</dict>
</plist>